main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
}

.choice {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.sea {
    background-color: cornflowerblue;
}

.mountain {
    background-color: rgb(248, 219, 170);
}

.country {
    background-color: rgb(153, 237, 153);
}

.choice button {
    width: 70%;
    margin: auto;
}

.counter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 67pt;
}